@import "../../values/values";

.carousel-images-container {
    width: 100%;
    aspect-ratio: 3/2;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-end;
    display: grid;
    overflow: hidden;
    border-bottom: $textColour solid $normalLineWidth;
    direction: rtl;
}

.symbols-container {
    display: grid;
    margin: 0 15% 0 15%;
    grid-template-columns: 2rem 1fr 2rem;
    align-items: center;
    justify-content: center;
    .indicator-container {
        padding: 0rem 30% 0 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 0.5rem;
        .indicator {
            transition: 0.15s;
            font-size: 0.3rem;
            &.selected {
                font-size: 0.5rem;
            }
        }
    }
    .left-button, .right-button {
        transition: padding;
        transition-duration: 0.2s;
        font-size: 2rem;
    }
    .left-button {
        text-align: right;
        &.clicked {
            padding-right: 30%;
        }
    }
    .right-button {
        text-align: left;
        &.clicked {
            padding-left: 30%;
        }
    }
}

.carousel-image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}