@import "../values/values";

.section-header {
    font-size: 1.5rem;
    padding: 0.2rem 0rem 0.2rem 0.5rem;
    border: $normalLineWidth solid white;
    border-radius: 0rem 0.5rem 0.5rem 0.5rem;
    background: $buttonDarkBlue;
    transition: 0.5s;
    &.clicked {
        border-radius: 0rem 0.5rem 0rem 0rem;
        background: $textColour;
        //background: white;
        color: $buttonDarkBlue;
    }
}

.content {
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    transition: all 2s ease-out;
    display: grid;
    // border-left: $textColour solid $normalLineWidth;
    // border-bottom: $textColour solid $normalLineWidth;
    // border-right: $textColour solid $normalLineWidth;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    &.collapse {
        max-height: 0px;
    }
    p {
        padding-bottom: 0.3rem;
    }
    .content-left-border {
        background: white;
    }
    .content-right-border {
        //background: linear-gradient(to bottom, $textColour 20%, transparent 20%, transparent 80%, $textColour 80%);
        background: white;
    }
    .content-bottom-border {
        grid-column: 1/4;
        height: $normalLineWidth;
        //background: linear-gradient(to right, $textColour 2%, transparent 2%);
        background: white;
    }
    //.actual-content {
    //    padding: 0.2rem 0.3rem 0rem 0.3rem;
    //}
}

.projects-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
    @import "../projectstyles/projectstyles";
}
