@import "../values/values";

.section-header {
    z-index: 100;
    height: 1.9rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.5rem;
    padding: 0.2rem 0rem 0.2rem 0.5rem;
    border: $normalLineWidth solid white;
    border-radius: 0rem 0.5rem 0.5rem 0.5rem;
    background: $buttonDarkBlue;
    transition: 0.5s;
    // &.clicked {
    //     border-radius: 0rem 0.5rem 0rem 0rem;
    //     background: $textColour;
    //     //background: white;
    //     color: $buttonDarkBlue;
    // }
}

.normal-header {
    &.clicked {
        border-radius: 0rem 0.5rem 0rem 0rem;
        background: $textColour;
        //background: white;
        color: $buttonDarkBlue;
    }
}

.projects-header {
    &.clicked {
        border-radius: 0rem 0.5rem 0.5rem 0rem;
        background: $textColour;
        //background: white;
        color: $buttonDarkBlue;
    }
}

.normal-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 1rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 1s ease-out;
    display: grid;
    border-left: $textColour solid $normalLineWidth;
    border-bottom: $textColour solid $normalLineWidth;
    border-right: $textColour solid $normalLineWidth;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    &.collapse {
        max-height: 0px;
    }
    .upper-content-space {
        height: 2rem;
    }
    .lower-content-space {
        height: 0.5rem;
    }
    p {
        padding-bottom: 0.3rem;
    }
}

.projects-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: 1rem;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 1s ease-out;
    display: grid;
    .projects-paragraph {
        border-left: $textColour solid $normalLineWidth;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
    }
    &.collapse {
        max-height: 0px;
    }
    .upper-content-space {
        border-left: $textColour solid $normalLineWidth;
        height: 2rem;
    }
    .lower-content-space {
        height: 0rem;
    }
    p {
        padding-bottom: 0.3rem;
    }
}

.projects-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
    @import "../projectstyles/projectstyles";
}
