//.image-fader-mobile {
//    display: none;
//}
//
//.image-fader-desktop {
//    display: grid;
//    width: 100%;
//    height: 100%;
//    grid-column: 1/2;
//    grid-row: 1/2;
//    z-index: 50;
//    grid-template-columns: 1fr 1fr;
//    grid-template-rows: 1fr 1fr;
//}

.pictures-carousel {
    width: 50%;
    aspect-ratio: 1 / 1;
    margin-left: 3rem;
}
