@import "defaults/defaultstyles";
@import "values/values";

body {
    background: no-repeat fixed linear-gradient(to right, $backgroundDarkBlue 0%, $backgroundLightBlue 100%);
}

.page-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    color: $textColour;
}

.pictures-carousel {
    padding: 0 0 0 0;
    display: grid;
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: end;
    background: $backgroundDarkBlue;
    @import "picturescarousel/picturescarouselstyles";
}

.title-area {
    background: $backgroundDarkBlue;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    font-size: 2.5rem;
    font-weight: 100;
    // border-bottom-style: solid;
    // border-bottom-width: $normalLineWidth;
    // border-image: linear-gradient(to right, $textColour 60%, $backgroundDarkBlue 90%) 1;
}

.space-below-title {
    border-top-style: solid;
    border-top-width: $normalLineWidth;
    border-image: linear-gradient(to right, $textColour 60%, $backgroundDarkBlue 90%) 1;
    height: 3rem;
    display: grid;
    grid-template-columns: min-content min-content;
    .left-bit {
        width: 0.5rem;
    }
    .right-bit {
        border-left: $normalLineWidth solid $textColour;
    }
    background: radial-gradient(ellipse 100% 100% at 100% 100%, $backgroundLightBlue 0%, $backgroundDarkBlue 100%);
}

.sections-area {
    margin-left: 0.5rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1rem 1fr;
    row-gap: 3rem;
    border-left: $normalLineWidth solid $textColour;
    .margin-space {
        border-top: $normalLineWidth solid $textColour;
    }
    @import "sections/sectionsstyles";
}

.section, .projects-section {
    display: grid;
}

.footer-area {
    height: 10rem;
    margin-left: 0.5rem;
    border-left-style: solid;
    border-left-width: $normalLineWidth;
    border-image: linear-gradient(to bottom, $textColour 20%, transparent 50%) 0.5;
}

.contact-links {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    .contact-link {
        width: fit-content;
        border-radius: 0.3rem;
        padding: 0 0.2rem 0 0.2rem;
        text-decoration: none;
        color: $textColour;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.2rem;
        .contact-symbol {
            font-size: 2rem;
        }
    }
}

@media screen and (min-width: 550px) {
    @import "layouts/tabletlayout";
}

@media screen and (min-width: 800px) {
    .contact-link {
        &:hover {
            background-color: $textColour;
            color: $backgroundDarkBlue;
        }
    }
}

@media screen and (min-width: 800px) {
    @import "layouts/laptoplayout";
}

// @media screen and (min-width: 800px) {
//     @import "layouts/largelaptoplayout";
// }
