@import "defaults/defaultstyles";
@import "values/values";

body {
    background: no-repeat fixed linear-gradient(to right, $backgroundDarkBlue 0%, $backgroundLightBlue 100%);
}

.page-content {
    height: 100%;
    width: 100%;
    display: grid;
    color: $textColour;
}

.pictures-carousel {
    margin: 0;
    display: grid;
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: end;
    @import "picturescarousel/picturescarouselstyles";
}

.title-area {
    background: $backgroundDarkBlue;
    padding: 0rem 0.5rem 0rem 0.5rem;
    font-size: 2.5rem;
    font-weight: 100;
    border-bottom-style: solid;
    border-bottom-width: $normalLineWidth;
    border-image: linear-gradient(to right, $textColour 60%, $backgroundDarkBlue 90%) 1;
}

.space-below-title {
    height: 3rem;
    display: grid;
    grid-template-columns: 0.5rem 1fr;
    .right-bit {
        border-left: $normalLineWidth solid $textColour;
    }
    background: radial-gradient(ellipse 100% 100% at 100% 100%, $backgroundLightBlue 0%, $backgroundDarkBlue 100%);
}

.sections-area {
    margin-left: 0.5rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1rem 1fr;
    row-gap: 3rem;
    border-left: $normalLineWidth solid $textColour;
    .margin-space {
        border-top: $normalLineWidth solid $textColour;
    }
    @import "sections/sectionsstyles";
}

.section, .projects-section {
    display: grid;
}

.footer-area {
    height: 10rem;
    margin-left: 0.5rem;
    border-left-style: solid;
    border-left-width: $normalLineWidth;
    border-image: linear-gradient(to bottom, $textColour 20%, transparent 50%) 0.5;
}

@media screen and (min-width: 550px) {
    @import "layouts/tabletlayout";
}
